<div>
  <h1>Registros Historia clinica</h1><b>Fecha de apertura : </b><time>2021-01-01</time>
</div>

<div>
  <p>
    <b>Mascota : </b>
    <label>Damian</label>
    <b> Raza : </b>
    <label> Perro </label>
    <b>Sexo : </b>
    <label> Macho </label>
  </p>
</div>

<div>
  <h4>
    Propietario :
    <label>Oscar Ramos Andres Ramos</label>
  </h4>
</div>

<div>
  <table>
    <thead>
    <tr>
      <th>
        <p>Fecha</p>
      </th>
      <th>
        <p>Colaborador</p>
      </th>
      <th>
        <p>Acciones</p>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        2023-01-01
      </td>
      <td>
        Juan Pablo Vazquez
      </td>
      <td>
        <button>Consultar</button>
        <button>Crear</button>
        <button>Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
