<html>
<body>
<div>
  <h1>Registros Historia clinica</h1><b>Fecha de apertura : </b>
  <time>2021-01-01</time>
</div>
<div *ngIf="historiaClinica">
  <div>
    <span>
      <b>Mascota : </b>
      <span>{{historiaClinica.mascota.nombre}}</span>
      <b> Raza : </b>
      <span>{{historiaClinica.mascota.raza}}</span>
      <b> Sexo : </b>
      <span>{{Sexo[historiaClinica.mascota.sexo]}}</span>
    </span>
  </div>

  <div>
    <b>
      Propietario :
    </b>
    <span>{{historiaClinica.mascota.usuario.nombre}}  {{historiaClinica.mascota.usuario.apellido}}</span>
  </div>

  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <p>Fecha</p>
        </th>
        <th>
          <p>Colaborador</p>
        </th>
        <th>
          <p>Cargo</p>
        </th>
        <th>
          <p>Especialidad</p>
        </th>
        <th>
          <p>Acciones</p>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let detalle of detalleHistoriasClinicas">
        <tr>
          <td n>
            {{detalle.fechaHora | date: 'medium'}}
          </td>
          <td>
            {{detalle.colaborador.nombre}} {{detalle.colaborador.apellido}}
          </td>
          <td>
            {{detalle.colaborador.cargo}}
          </td>
          <td>
            {{detalle.colaborador.especialidad}}
          </td>
          <td>
            <button class="btn btn-primary"
                    (click)="muestraDetalle(detalle.id)">{{indices.get(detalle.id) == true ? 'Ocultar' : 'Ver'}}</button>
            <button class="btn btn-info" (click)="modificaDetalle(detalle.id)">Modificar</button>
            <button class="btn btn-danger" (click)="borraDetalle(detalle.id)">Borrar</button>
          </td>
        </tr>
        <tr *ngIf="indices.get(detalle.id)">
          <td colspan="5">
            <app-consulta-detalle-historia-clinica [detalle]="detalle"></app-consulta-detalle-historia-clinica>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <button class="btn btn-primary me-md-2" (click)="grabaDetalle()">Crear Registro</button>
    <button class="btn btn-primary" (click)="regresarHistora()">Salir</button>
  </div>
</div>


<div *ngIf="abrirModalBorrado">
  <pre>Esta seguro que desea borrar la historia clinica</pre>
  <button class="btn btn-danger" (click)="borrarHitoriaClinica()">Aceptar</button>
  <button class="btn btn-light" (click)="cerrarModalBorrado()">Cancelar</button>
</div>
</body>
</html>
