<div>
  <h1>Consulta detalle de la consulta clinica</h1>
</div>

<div>
  <p>
    <b>Mascota </b>
    <input id="mascota">
    <b>Raza </b>
    <input id="raza">
    <b>Sexo</b>
    <input id="sexo">
  </p>
</div>

<div>
  <p>
    <b>Colaborador </b>
    <input id="colaborador">
    <b>Cargo Colaborador </b>
    <input id="cargo">
    <b>Especialidad </b>
    <input id="especialidad">
  </p>
</div>

<div>
  <p>
    <b>Temperatura</b><br>
    <input id="temeperatura">
  </p>
  <b>Peso</b><br>
  <input id="peso">
  <p>
    <b>Frecuencia cardiaca</b><br>
    <input id="frecuencia_cardiaca">
  </p>
  <p>
    <b>Frecuencia respiratoria</b><br>
    <input id="frecuencia_respiratoria">
  </p>
  <p>
    <b>Alimentacion</b><br>
    <textarea>Informacion de la alimentacion</textarea>
  </p>
  <p>
    <b>Habitad</b><br>
    <textarea>Informacion del habitad</textarea>

  <p>
    <b>Observaciones</b><br>
    <textarea>Observaciones del chequeo y recomendaciones generales</textarea>
  </p>
</div>

<div>
  <button>Guardar</button>
  <button>Cancelar</button>
</div>
