<div>
  <h1>Consulta detalle de la consulta clinica</h1>
</div>

<div>
  <p>
    <b>Mascota </b>
    <input id="mascota" readonly value="Damian">
    <b>Raza </b>
    <input id="raza" readonly value="Criollo">
    <b>Sexo</b>
    <input id="sexo" readonly value="Masculino">
  </p>
</div>

<div>
  <p>
    <b>Colaborador </b>
    <input id="colaborador" readonly value="Juan Pablo Vasquez">
    <b>Cargo Colaborador </b>
    <input id="cargo" readonly value="Veterinario">
    <b>Especialidad </b>
    <input id="especialidad" readonly value="Traumatolog">
  </p>
</div>

<div>
  <p>
    <b>Temperatura</b><br>
    <input id="temeperatura" type="number" readonly value="35">
  </p>
  <b>Peso</b><br>
  <input id="peso" type="number" readonly value="8">
  <p>
    <b>Frecuencia cardiaca</b><br>
    <input id="frecuencia_cardiaca" type="number" readonly value="110">
  </p>
  <p>
    <b>Frecuencia respiratoria</b><br>
    <input id="frecuencia_respiratoria" type="number" readonly value="95">
  </p>
  <p>
    <b>Alimentacion</b><br>
    <textarea id="alimentacion" readonly>Informacion de la alimentacion</textarea>
  </p>
  <p>
    <b>Habitad</b><br>
    <textarea id="habitad" readonly>Informacion del habitad</textarea>

  <p>
    <b>Observaciones</b><br>
    <textarea id="observaciones" readonly>Observaciones del chequeo y recomendaciones generales</textarea>
  </p>
</div>

<div>
  <button>Guardar</button>
  <button>Cancelar</button>
</div>
