<div>
  <h1>Datos adicionales</h1>
</div>

<div>
  <p>
    <b>Temperatura</b><br>
    <input class="form-control" id="temeperatura" type="number" readonly value="{{detalle.temperatura}}">
  </p>
  <b>Peso</b><br>
  <input class="form-control" id="peso" type="number" readonly value="{{detalle.peso}}">
  <p>
    <b>Frecuencia cardiaca</b><br>
    <input class="form-control" id="frecuencia_cardiaca" type="number" readonly value="{{detalle.frecuenciaCardiaca}}">
  </p>
  <p>
    <b>Frecuencia respiratoria</b><br>
    <input class="form-control" id="frecuencia_respiratoria" type="number" readonly value="{{detalle.frecuenciaRespiratoria}}">
  </p>
  <p>
    <b>Alimentacion</b><br>
    <textarea class="form-control" id="alimentacion" readonly>{{detalle.alimentacion}}</textarea>
  </p>
  <p>
    <b>Habitad</b><br>
    <textarea class="form-control" id="habitad" readonly>{{detalle.habitad}}</textarea>

  <p>
    <b>Observaciones</b><br>
    <textarea class="form-control" id="observaciones" readonly>{{detalle.observacion}}</textarea>
  </p>
</div>
