<div>
  <h1>Historias Clinicas</h1>
</div>

<div>
  <table>
    <thead>
    <tr>
      <th>
        Mascota
      </th>
      <th>
        Propietario|
      </th>
      <th>
        Fecha
      </th>
      <th>
        Acciones
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historiaClinica of historiasClinicas | async">
      <td>
        {{historiaClinica.mascota.nombre}}
      </td>
      <td>
        {{historiaClinica.mascota.usuario.nombre}}
      </td>
      <td>
        {{historiaClinica.fechaCreacion}}
      </td>
      <td>
        <button>Modificar</button>
        <button (click)="decideBorrarHistoriaClinica(historiaClinica.id)">Borrar</button>
        <button (click)="aperturaHistoriaClinica(historiaClinica.id)">Detalles</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button (click)="aperturaHistoria()">Nueva Historia</button>
</div>

<div *ngIf="abrirModalCreacion">
  <div>
    <label for="mascota">Mascota : </label>
    <select id="mascota" #mascota class="custom-select mb-3" (change)="changeMascota(mascota.value)"
            formControlName="mascota">
      <option value="">Elegir mascota</option>
      <option *ngFor="let mascota of mascotasSinHistoriaClinica | async" [value]="mascota.id">
        {{ mascota.nombre }} - {{mascota.usuario.nombre}}
      </option>
    </select>
  </div>
  <button (click)=" crearHistoriaClinica()">Crear Historia</button>
  <button (click)="cerrarModal()">Cancelar</button>
</div>

<div *ngIf="abrirModalBorrado">
  <pre>Esta seguro que desea borrar la historia clinica</pre>
  <button (click)="borrarHitoriaClinica()">Aceptar</button>
  <button (click)="cerrarModalBorrado()">Cancelar</button>
</div>

<div *ngIf="error">
  <pre>{{error}}</pre>
</div>
