<div>
  <h1>Historias Clinicas</h1>
</div>

<div>
  <table>
    <thead>
    <tr>
      <th>
        Mascota
      </th>
      <th>
        Propietario|
      </th>
      <th>
        Fecha
      </th>
      <th>
        Acciones
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historiaClinica of historiasClinicas | async">
      <td>
        {{historiaClinica.mascota.nombre}}
      </td>
      <td>
        {{historiaClinica.mascota.usuario.nombre}}
      </td>
      <td>
        {{historiaClinica.fechaCreacion}}
      </td>
      <td>
        <button>Modificar</button>
        <button (click)="decideBorrarHistoriaClinica(historiaClinica.id)">Borrar</button>
        <button (click)="aperturaHistoriaClinica(historiaClinica.id)">Detalles</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <button (click)="creaHistoriaClinica()" >Nueva Historia</button>
</div>

<div *ngIf="abrirModalBorrado">
  <pre>Esta seguro que desea borrar la historia clinica</pre>
  <button (click)="borrarHitoriaClinica()">Aceptar</button>
  <button (click)="cerrarModalBorrado()">Cancelar</button>
</div>

<div *ngIf="error">
  <pre>{{error}}</pre>
</div>
