<div>
  <h1>Historias Clinicas</h1>
</div>

<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        Mascota
      </th>
      <th>
        Propietario
      </th>
      <th>
        Fecha
      </th>
      <th>
        Acciones
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let historiaClinica of historiasClinicas | async">
      <td>
        {{historiaClinica.mascota.nombre}}
      </td>
      <td>
        {{historiaClinica.mascota.usuario.nombre}} {{historiaClinica.mascota.usuario.apellido}}
      </td>
      <td>
        {{historiaClinica.fechaCreacion}}
      </td>
      <td>
        <button class="btn btn-primary">Modificar</button>
        <button class="btn btn-info" (click)="aperturaHistoriaClinica(historiaClinica.id)">Detalles</button>
        <button class="btn btn-danger" (click)="decideBorrarHistoriaClinica(historiaClinica.id)">Borrar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" (click)="creaHistoriaClinica()" >Nueva Historia</button>
</div>

<div class="container" *ngIf="abrirModalBorrado">
  <pre>Esta seguro que desea borrar la historia clinica</pre>
  <button class="btn btn-danger" (click)="borrarHitoriaClinica()">Aceptar</button>
  <button class="btn btn-light" (click)="cerrarModalBorrado()">Cancelar</button>
</div>

<div *ngIf="error">
  <pre>{{error}}</pre>
</div>

<app-pie-pagina></app-pie-pagina>
