<div>
  <h1>Captura detalle de la consulta clinica</h1>
</div>

<form (ngSubmit)="enviar()" [formGroup]="formularioGrabacion">
  <div>
    <p>Colaborador</p><br>
    <div>
      <select formControlName="colaborador" #colaborador
              (change)="cambiarColaborador(colaborador.value)"
              [ngClass]="{ 'is-invalid':  form.colaborador.errors }">


        <option *ngFor="let colaborador of colaboradores | async" [value]="colaborador.id">
          {{colaborador.nombre}} {{colaborador.apellido}} - {{colaborador.cargo}}
        </option>
      </select>
      <div *ngIf="form.colaborador.errors" class="invalid-feedback">
        <div *ngIf="form.colaborador.errors.required">Debe seleccionar un colaborador</div>
      </div>
    </div>

    <div>
      <b>Temperatura</b><br>
      <input class="form-control" type="number" formControlName="temperatura"
             [ngClass]="{ 'is-invalid':  form.temperatura.errors }">
      <div *ngIf="form.temperatura.errors" class="invalid-feedback">
        <div *ngIf="form.temperatura.errors.required">Debe registrar la temperatura</div>
      </div>
    </div>


    <div>
      <b>Peso</b><br>
      <input class="form-control" type="number" formControlName="peso" [ngClass]="{ 'is-invalid':  form.peso.errors }">
      <div *ngIf="form.peso.errors" class="invalid-feedback">
        <div *ngIf="form.peso.errors.required">Debe registrar el peso</div>
      </div>
    </div>
    <div>
      <b>Frecuencia cardiaca</b><br>
      <input class="form-control" type="number" formControlName="frecuenciaCardica"
             [ngClass]="{ 'is-invalid':  form.frecuenciaCardica.errors }">
      <div *ngIf="form.frecuenciaCardica.errors" class="invalid-feedback">
        <div *ngIf="form.frecuenciaCardica.errors.required">Debe registrar la frecuencia cardica</div>
      </div>
    </div>
    <div>
      <b>Frecuencia respiratoria</b><br>
      <input class="form-control" type="number" formControlName="frecuenciaRespiratoria"
             [ngClass]="{ 'is-invalid':  form.frecuenciaRespiratoria.errors }">
      <div *ngIf="form.frecuenciaRespiratoria.errors" class="invalid-feedback">
        <div *ngIf="form.frecuenciaRespiratoria.errors.required">Debe registrar frecuencia respiratoria</div>
      </div>
    </div>
    <p>
      <b>Alimentacion</b><br>
      <textarea class="form-control" formControlName="alimentacion"
                [ngClass]="{ 'is-invalid':  form.alimentacion.errors }"></textarea>
    </p>
    <p>
      <b>Habitad</b><br>
      <textarea class="form-control" formControlName="habitad"
                [ngClass]="{ 'is-invalid':  form.habitad.errors }"></textarea>

    <p>
      <b>Observaciones</b><br>
      <textarea class="form-control" formControlName="observacion"
                [ngClass]="{ 'is-invalid':  form.observacion.errors }"></textarea>
    </p>
  </div>
  <button class="btn btn-primary me-md-2" [disabled]="formularioGrabacion.invalid">Guardar</button>
  <button class="btn btn-primary" (click)="cerrarCreacionDetalle()">Cancelar</button>
</form>
