<div class="content" role="main">
  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>Historias Clinicas</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <span>Historia Clinica</span>
    </button>
  </div>

  <!-- Terminal -->
  <div [ngSwitch]="selection.value">
  
      <app-historias-clinicas *ngSwitchDefault></app-historias-clinicas>
      <app-historia-clinica *ngSwitchCase="'material'"></app-historia-clinica>
  </div>


</div>