<!--
<div class="content" role="main">
  <input type="hidden" #selection>

  <div class="card-container">
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>Historias Clinicas</span>
    </button>

    <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <span>Historia Clinica</span>
    </button>
  </div>

  &lt;!&ndash; Terminal &ndash;&gt;
  <div [ngSwitch]="selection.value">

      <app-historias-clinicas *ngSwitchDefault></app-historias-clinicas>
      <app-historia-clinica *ngSwitchCase="'material'"></app-historia-clinica>
  </div>


</div>-->
<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/historia" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
