<div>
  <h1>Captura detalle de la consulta clinica</h1>

  <h1>{{idHistoriaClinica}}</h1>
</div>

<form (ngSubmit)="enviar()" [formGroup]="formularioGrabacion">
  <div>
    <span>Colaborador</span><br>
   <!-- <select formControlName="colaborador" #colaborador class="custom-select mb-3"
            (change)="cambiarColaborador(colaborador.value)"
            [ngClass]="{ 'is-invalid':  form.colaborador.errors }">

      <option>Elegir Colaborador</option>
      <option *ngFor="let colaborador of colaboradores | async" [value]="colaborador.id">
        {{colaborador.nombre}} {{colaborador.apellido}} - {{colaborador.cargo}}
      </option>
    </select>  !-->
  </div>


    <p>
      <b>Temperatura</b><br>
      <input type="number" formControlName="temperatura">
<!--    </p>
    <b>Peso</b><br>
    <input type="number" formControlName="peso" [ngClass]="{ 'is-invalid':  form.peso.errors }">
    <p>
      <b>Frecuencia cardiaca</b><br>
      <input type="number" formControlName="frecuencia_cardiaca" [ngClass]="{ 'is-invalid':  form.frecuencia_cardiaca.errors }">
    </p>
    <p>
      <b>Frecuencia respiratoria</b><br>
      <input type="number" formControlName="frecuencia_respiratoria" [ngClass]="{ 'is-invalid':  form.frecuencia_respiratoria.errors }">
    </p>
    <p>
      <b>Alimentacion</b><br>
      <textarea formControlName="alimentacion" [ngClass]="{ 'is-invalid':  form.alimentacion.errors }"></textarea>
    </p>
    <p>
      <b>Habitad</b><br>
      <textarea formControlName="habitad" [ngClass]="{ 'is-invalid':  form.habitad.errors }"></textarea>

    <p>
      <b>Observaciones</b><br>
      <textarea formControlName="observaciones" [ngClass]="{ 'is-invalid':  form.observaciones.errors }"></textarea>
    </p>
  </div>
  <button [disabled]="formularioGrabacion.invalid">Guardar</button> !-->
</form>
<div>

  <button (click)="cerrarCreacionDetalle()">Cancelar</button>
</div>
